* {
  box-sizing: content-box;
  font-family: "Inconsolata", monospace;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.calculator {
  display: flex;
  width: 50vw;
  height: 85vh;
  flex-direction: column;
  background-color: #f3eed94f;
  justify-content: center;
  border-radius: 10px;
  border: #2d313155 solid 1px;
}
.display-sector {
  display: flex;
  width: 47vw;
  height: 15vh;
  background-color: #747c8147;
  border: #2d31315a solid 1px;
  border-radius: 10px;
  color: seashell;
  text-shadow: 0 0 2px black;
  font-size: 72px;
  align-items: center;
  justify-content: flex-end;
  margin: 0vh 1.5vw 1vh 1.5vw;
  resize: none;
  overflow: hidden;
  word-break: break-word;
}
.display {
  display: flex;
  width: 46vw;
  height: 15vh;
  color: seashell;
  text-shadow: 0 0 2px black;
  margin-right: -47vw;
  font-size: 72px;
  align-items: center;
  justify-content: flex-end;
  resize: none;
  overflow: hidden;
  word-break: break-word;
}
.new-display,
.error-display {
  display: flex;
  width: 47vw;
  height: 15vh;
  color: seashell;
  text-shadow: 0 0 2px black;
  margin-right: 1vw;
  font-size: 72px;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  word-break: break-word;
}

.button-sector {
  height: 65vh;
  width: 50vw;
  display: flex;
}
.number-side {
  display: flex;
  width: 37vw;
  height: 63vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0vh 0vw 0vh 0.5vw;
}
.number-container {
  width: 35vw;
  height: 45vh;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 1px;
  flex: 1;
  border-radius: 10px;
}
.top-row {
  height: 15vh;
  display: flex;
  width: 35vw;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 1px;
  border-radius: 10px;
}
.operator-side {
  width: 13vw;
  height: 63vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0vh 0.5vw 0vh 0vw;
}
.operator-container {
  width: 10vw;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 1px;
  flex: 1;
  border-radius: 10px;
}
.zero-container {
  height: 15vh;
  width: 37vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 10px;
  margin-left: 1px;
}

button {
  display: flex;
  width: 8vw;
  height: 12vh;
  gap: 1px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: seashell;
  text-shadow: 0 0 1px black;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 1px #999;
}
.number-button,
.zero-button {
  color: seashell;
  background-color: #00bcd482;
  border: #607d8bab solid 1px;
}
.operator-button,
.equals-button,
.clear-button,
.delete-button {
  background-color: #ff878edb;
  border: #e91e635e solid 1px;
}

.number-button:active,
.zero-button:active {
  background-color: #00bbd4d5;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}
.operator-button:active,
.equals-button:active,
.clear-button:active,
.delete-button:active {
  background-color: #fe5a62db;
  box-shadow: 0 1px #333;
  transform: translateY(1px);
}
